<div class="depot_form">
  <%= form_for(@line_item) do |f| %>
    <% if @line_item.errors.any? %>
      <div id="error_explanation">
        <div class="alert alert-error">
          <h2>The form contains <%= pluralize(@line_item.errors.count, "error") %></h2>

          <ul>
          <% @line_item.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="span6 offset3">
        <fieldset class="text-center">
          <legend>Enter User Details</legend>
          <div class="field">
            <%= f.label :product %><br>
            <%= f.text_field :product %>
          </div>
          <div class="field">
            <%= f.label :cart %><br>
            <%= f.text_field :cart %>
          </div>
          <div class="actions">
            <%= f.submit "Create Line Item", class: "btn btn-primary" %>
          </div>
        <% end %>
      </fieldset>
    </div>
  </div>
</div>
